
<!--<table>
    <tbody>
    <col width="30%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
    <tr>
      <th>SID</th>
      <th>Sensor Name</th> 
      <th>Sensor Value</th>
      <th>Sensor Lat</th>
      <th>Sensor Long</th>
      <th>Threshold</th>
      <th>Sensor Unit</th>
      <th>Actions</th>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>100</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
    <tr>
        <td>w1</td>
      <td>Water 1</td>
      <td>10</td>
      <td>50.6363454</td>
      <td>56.34534</td>
      <td>50</td>
      <td>Kelvin</td>
      <td>
          <ul>
            <button type="button" class="btn btn-success">EDIT</button>
        </ul>
          <ul>
            <button type="button" class="btn btn-info">DELETE</button>
        </ul>
      </td>
    </tr>
</tbody>

  </table> -->
  

  <a class="link" href="/fault">Fault</a>
  <button (click)="JSONTest()">Click me</button>
  <button>submit</button>